{% load i18n %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th width="60%">{% trans "Name" %}</th>
            <th width="20%">{% trans "Balance" %}</th>
        </tr>
    </thead>
    <tbody>
    {% verbatim %}
        <tr ng-repeat="obj in data.items" ng-class="obj.parent ? '' : 'info'">
            <td>
                <a href="{{ obj.bmfdetail }}">{{ obj.number }}: {{ obj.name }}</a>
                <small ng-if="obj.parent == null"><br>{{ obj.type_name }}</small>
            </td>
            <td class="text-right">{{ obj.balance_formatted }}</td>
        </tr>
    {% endverbatim %}
    </tbody>
</table>
