{% extends "djangobmf/base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block full_body %}
<div class="container" style="padding-top: 60px; width: 400px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-lock"></span> {% trans "Please sign in" %}</h3>
        </div>
        <div class="panel-body">
            <form class="form" role="form" action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
                <p>Use <b>admin:admin</b> or <b>demo:demo</b> to login</p>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-cog"></span>
                    <strong>Please note:</strong> This software is in an early development stage and some features might not work as expected.
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Login" %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
