{% load i18n %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th width="15%">{% trans "Date" %}</th>
            <th width="40%">{% trans "Subject" %}</th>
            <th width="20%">{% trans "Employee" %}</th>
            <th width="20%">{% trans "Time" %}</th>
            <th width="5%"></th>
        </tr>
    </thead>
    {% verbatim %}
    <tbody>
        <tr ng-repeat="obj in data.items">
            <td>{{ obj.date }}</td>
            <td>
                <span ng-if="obj.end == null" class="label label-warning">{% endverbatim %}{% trans "Active" %}{% verbatim %}</span>
                {{ obj.summary }}
                <div ng-if="obj.project || obj.task" class="text-muted small">
                    <strong ng-if="obj.project">{{ obj.project_name }}</strong>
                    {{ obj.task_name }}
                </div>
            </td>
            <td>{{ obj.employee_name }}</td>
            <td>{{ obj.timesince }}
            </td>
            <td class="text-right">
              <a class="btn btn-xs btn-primary" href="{{ obj.bmfdetail }}">
                <span class="glyphicon glyphicon-list"></span>
              </a>
            </td>
        </tr>
    </tbody>
    {% endverbatim %}
</table>
