{% extends "djangobmf/base_full.html" %}

{% load i18n %}

{% block title %}{% trans "Configuration" %}{% endblock %}

{% block base_headline %}
<div class="page-header">
    <h1>{% trans "Configuration" %}</h1>
</div>
{% endblock %}

{% block base_content %}

<table class="table">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Application" %}</th>
            <th>{% trans "Value" %}</th>
            <th>{% trans "Required" %}</th>
            <th>{% trans "Changed" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object }}</td>
            <td>{{ object.field.label }}</td>
            <td></td>
            <td>{{ object.field.value }}</td>
            <td>{{ object.field.required }}</td>
            <td>{{ object.field.changed }}</td>
            <td><a href="{{ object.get_absolute_url }}">edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
