<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% verbatim %}
    <tbody>
        <tr ng-repeat="obj in data.items">
            <td>
                <a href="{{ obj.bmfdetail }}">
                    {{ obj.invoice_number }}
                </a>
            </td>
            <td>
                <span ng-if="obj.project">{{ obj.project_name }}</span>
            </td>
            <td>{{ obj.state_name }}
            </td>
        </tr>
    </tbody>
    {% endverbatim %}
  </tbody>
</table>
