{% extends "djangobmf/base_full.html" %}

{% load i18n %}
{% block title %}{% trans "Module overview" %}{% endblock %}

{% block base_headline %}{% endblock %}
{% block base_content %}
<div class="page-header">
<h1>{% trans "Module overview" %}</h1>
</div>
<ul>
  {% for item in modules|dictsort:"name" %}
  <li><a href="{{ item.url }}">{{ item.name }}</a></li>
  {% empty %}
  <li><p>{% trans "You don't have access to any modules" %}</p></li>
  {% endfor %}
</ul>
<h1>Workspaces:</h1>
<ul>
{% for dashboard in workspaces %}
    <li><p>{{ dashboard.name }}</p></li>
    <ul>
    {% for category in dashboard %}
        <li><p>{{ category.name }}</p></li>
        <ul>
        {% for view in category %}
            <li><p>{{ view.name }}</p></li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endfor %}
</ul>

{% endblock %}
