{% extends "djangobmf/base.html" %}

{% load djangobmf_core %}

{% load sekizai_tags i18n %}

{% block title %}{{ view_name }}{% endblock %}

{% block content_container %} ng-app="bmfApp" ng-controller="bmfListCtrl" ng-init="apicall='{{ get_data_url }}'"{% endblock %}

{% block full_content %}

{% block angular %}{% addtoblock "js" %}<script type="text/javascript"><!--
    var bmfApp = angular.module('bmfApp', []);
    bmfApp.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    }]);
    bmfApp.controller('bmfListCtrl', function($scope, $window, $http) {
            $http.get('{{ get_data_url }}').then(function(artResponse) {
                $scope.data = artResponse.data;
                $scope.django = $window.django;
            });
    });
--></script>{% endaddtoblock %}{% endblock %}

{% block infobar %}
{% if debug %}
<p>API: <a href="{{ get_data_url }}">{{ get_data_url }}</a></p>
{% endif %}
<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-default disabled" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
    <input type="text" class="form-control">
    <div class="input-group-btn">
        &nbsp;
        {% if bmfmodule.create_views|length > 1 %}
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
            </button>
            <ul class="dropdown-menu" role="menu">
            {% for key, label in bmfmodule.create_views %}
                <li><a class="bmf-edit" href="{% get_bmf_url bmfmodule.model "create" key %}">{{ label }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <a class="btn btn-success bmf-edit" href="{% get_bmf_url bmfmodule.model "create" bmfmodule.create_views.0.0 %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
        </a>
        {% endif %}
    </div>
</div><!-- /input-group -->
{% endblock %}

<hr>

{% block headline %}<h1>{{ view_name }}</h1>{% endblock %}

{% block filter %}{% endblock %}

{% block content %}{% include data_template %}{% endblock %}

{% block pagination %}
<nav ng-if="data.pagination.enabled" class="text-center">
    <ul class="pagination">

        <li ng-if="data.pagination.previous">
            <a href="#" aria-label="{% trans "Previous" %}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% verbatim %}
        <li ng-repeat="page in data.pagination.pages" ng-class="{active: page==data.pagination.page, disabled: data.pagination.num_pages==1}" class="pagination">
            <a href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endverbatim %}

        <li ng-if="data.pagination.next">
            <a href="#" aria-label="{% trans "Next" %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>
{% endblock %}

{% endblock %}{# full_content #}
