{% extends "djangobmf/base.html" %}

{% load djangobmf_core %}

{% load sekizai_tags i18n %}

{% block title %}{{ view_name }}{% endblock %}

{% block content_container %} ng-app="bmfApp" ng-controller="bmfListCtrl"{% endblock %}

{% block full_content %}

{% block angular %}{% addtoblock "js" %}<script type="text/javascript"><!--
    var bmfApp = angular.module('bmfApp', []);
    bmfApp.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    }]);
    bmfApp.controller('bmfListCtrl', function($scope, $http) {
            $http.get('{{ get_data_url }}').then(function(artResponse){
                $scope.data = artResponse.data;
            });
    });
--></script>{% endaddtoblock %}{% endblock %}

{% block infobar %}
<div class="input-group">
    <div class="input-group-btn">
        <button class="btn btn-default disabled" type="button">
            <span class="glyphicon glyphicon-filter"></span>
        </button>
    </div>
    <input type="text" class="form-control">
    <div class="input-group-btn">
        &nbsp;
        {% if bmfmodule.create_views|length > 1 %}
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
            </button>
            <ul class="dropdown-menu" role="menu">
            {% for key, label in bmfmodule.create_views %}
                <li><a class="bmf-edit" href="{% get_bmf_url bmfmodule.model "create" key %}">{{ label }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% else %}
        <a class="btn btn-success bmf-edit" href="{% get_bmf_url bmfmodule.model "create" bmfmodule.create_views.0.0 %}">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}
        </a>
        {% endif %}
    </div>
</div><!-- /input-group -->
{% endblock %}

<hr>

{% block headline %}<h1>{{ view_name }}</h1>{% endblock %}

{% block filter %}{% endblock %}

{% block content %}{% include data_template %}{% endblock %}

{% block pagination %}
<nav>
    <ul class="pagination">
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="disabled"><a href="#">1</a></li>
        <li class="disabled"><a href="#">2</a></li>
        <li class="disabled"><a href="#">3</a></li>
        <li class="disabled"><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li class="disabled">
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% endblock %}{# full_content #}
