{% load i18n %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th width="60%">{% trans "Name" %}</th>
            <th width="25%">{% trans "Employee" %}</th>
            <th width="15%">{% trans "State" %}</th>
        </tr>
    </thead>
  {% if add %}
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">
          <a class="btn btn-xs bmf-edit btn-success" href="{% url "djangobmf:moduleapi_djangobmf_task_task:create" "default" %}?data[goal]={{ object.pk }}&amp;data[project]={{ object.project_id|default:"" }}">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </td>
    </tr>
  </tfoot>
  {% endif %}
    <tbody>
    {% verbatim %}
        <tr ng-repeat="obj in data.items" ng-class="obj.state == 'cancelled' || obj.state == 'finished' ? 'text-muted' : ''">
            <td>
                <span ng-if="obj.completed == false" class="glyphicon glyphicon-unchecked"></span>
                <span ng-if="obj.completed == true" class="glyphicon glyphicon-check"></span>

                <span ng-if="obj.state == 'review'"  class="label label-info">{{ obj.state_name }}</span>
                <span ng-if="obj.state == 'started'"  class="label label-primary">{{ obj.state_name }}</span>
                <span ng-if="obj.state == 'hold'"  class="label label-default">{{ obj.state_name }}</span>
                <span ng-if="obj.state == 'todo'"  class="label label-warning">{{ obj.state_name }}</span>

                <a href="{{ obj.bmfdetail }}">{{ obj.summary }}</a>

                <span ng-if="obj.project || obj.goal" class="text-muted"><br><small>
                    <strong  ng-if="obj.project">{{ obj.project_name }}</strong>
                    <span ng-if="obj.goal">{{ obj.goal_summary }}</span>
                </small></span>
            </td>
            <td ng-if="obj.employee">{{ obj.employee_name }}</td>
            <td ng-if="obj.employee == null">{% endverbatim %}{% trans "None" %}{% verbatim %}
            </td>
            <td>
                {{ obj.state_name }}
                <br><small>{{ obj.modified_date }}</small>
            </td>
        </tr>
    {% endverbatim %}
    </tbody>
</table>
{% comment %}
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>{{ obj.employee }}
          {% if obj.due_date %}{% if obj.state == "new" or obj.state == "started" or obj.state == "todo" or obj.state == "open" %}<br />
          <small>
            {% if obj.due_days <= 3 %}<span class="label label-danger"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            {% if obj.due_days > 3 and obj.due_days < 7 %}<span class="label label-warning"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            {% if obj.due_days >= 7 %}<span class="label label-success"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            <strong>{{ obj.due_date }}</strong>
          </small>
          {% endif %}{% endif %}
      </td>
    {% endfor %}
{% endcomment %}
