{% load i18n %}
{% include "djangobmf_task/task_inctable.html" %}
{% comment %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th width="60%">{% trans "Name" %}</th>
            <th width="25%">{% trans "Employee" %}</th>
            <th width="15%">{% trans "State" %}</th>
        </tr>
    </thead>
    <tbody>
    {% verbatim %}
        <tr ng-repeat="obj in data.items">
            <td>
                <span ng-if="obj.completed == false" class="glyphicon glyphicon-unchecked"></span>
                <span ng-if="obj.completed == true" class="glyphicon glyphicon-check"></span>
                <a href="{{ obj.url }}">{{ obj.summary }}</a>
            </td>
            <td>{{ obj.employee }}
                <div ng-if="obj.project != 'None'">
                    <small><!--a href="#"--!>{{ obj.project }}<!--/a--></small>
                </div>
            </td>
            <td class="text-center">
                <span ng-if="obj.completed == true" class="text-muted">
                    {% endverbatim %}{% trans "completed" %}{% verbatim %}
                </span>
                {{ obj.state }}
                <br><small>{{ obj.modified | date : 'mediumDate' }}</small>
            </td>
        </tr>
    {% endverbatim %}
    </tbody>
</table>

<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th width="59%">{% trans "Name" %}</th>
      <th width="22%">{% trans "Employee" %}</th>
      <th width="14%">{% trans "State" %}</th>
      <th width="5%"></th>
    </tr>
  </thead>
  {% if add %}
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">
          <a class="btn btn-xs bmf-edit btn-success" href="{% url "djangobmf:moduleapi_djangobmf_task_task:create" "default" %}?data[goal]={{ object.pk }}&amp;data[project]={{ object.project_id|default:"" }}">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </td>
    </tr>
  </tfoot>
  {% endif %}
  <tbody>
    {% for obj in object_list %}
    <tr{% if obj.state == "cancelled" or obj.state == "finished" %} class="text-muted" {% endif %}>
      <td>
          {% if obj.completed %}
          <span class="glyphicon glyphicon-check"></span>
          {% else %}
          <span class="glyphicon glyphicon-unchecked"></span>
          {% endif %}

          {% if obj.state == "review" %}<span class="label label-info">{% trans "review" %}</span>{% endif %}
          {% if obj.state == "started" %}<span class="label label-primary">{% trans "started" %}</span>{% endif %}
          {% if obj.state == "hold" %}<span class="label label-default">{% trans "hold" %}</span>{% endif %}
          {% if obj.state == "todo" %}<span class="label label-warning">{% trans "todo" %}</span>{% endif %}
          {{ obj.summary }}
          {% if obj.project or obj.goal %}<br /><small class="text-muted">
              {% if obj.project %}<strong>{{ obj.project }}</strong>{% endif %} {% if obj.goal %}{{ obj.goal }}{% endif %}
          </small>
          {% endif %}
      </td>
      <td>{% if obj.employee %}{{ obj.employee }}{% else %}<i>{% trans "None" %}</i>{% endif %}
          {% if obj.due_date %}{% if obj.state == "new" or obj.state == "started" or obj.state == "todo" or obj.state == "open" %}<br />
          <small>
            {% if obj.due_days <= 3 %}<span class="label label-danger"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            {% if obj.due_days > 3 and obj.due_days < 7 %}<span class="label label-warning"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            {% if obj.due_days >= 7 %}<span class="label label-success"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            <strong>{{ obj.due_date }}</strong>
          </small>
          {% endif %}{% endif %}
      </td>
      <td>{{ obj.get_workflow_state }}<br /><small>{{ obj.modified|date:"SHORT_DATE_FORMAT" }}</small></td>
      <td class="text-right">
          <a class="btn btn-xs btn-primary" href="{{ obj.bmfmodule_detail }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endcomment %}
